.div-task{
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    background: #b4b6da;
    background: radial-gradient(circle,rgba(180,182,218,.9) 0,rgba(226,236,253,.9) 100%);
    margin: 0 1rem 1rem 0;
    height: 8rem;
    width: 18rem;
    border-radius: 0.5rem;
    padding: 1rem;
    position: relative;
}
