*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App-header{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #3C1F7B;
    color: rgb(233, 233, 233)
}

